/* 
    Author     : suraj mahesh shetty
*/

body {
    min-height: 100%;
    margin:0 auto;
    background-color: black;
    
}

/*Include image styling for footer*/
image
{
 
 width : 150px;
 height: 150px;
}

#im
{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
}

/*styling for page 2 */
#page2
{
  margin-top: 50px;
  color: white;
 
}


/*styling for header 2*/
h2
{
    style: Magneto;
    color: #400040;
    font-size:15px;
}

h1
{
    style: Magneto;
    color: #400040;
}

h3
{
    style: Magneto;
    color: #400040;
}
#error{
    color: orangered;
    margin-left: 120px;
    margin-top: 500px;
}
nav#header_menu ul li {

    color: purple;
    display: block;
    line-height: 0.1em;
    padding: 1em 1em;
    text-decoration: none;
    list-style-type: none;
}


nav .right{
    float:right;
    padding: 1em 1em;
    color: white;
    font-weight: bold;
    font-size:20px;

}

#my_studies_table{

    margin: 20px 20px 20px 100px;
    width:80%
}


#studies_section{
    margin-bottom: 100px;
}

table, th, td{

    border:1px solid white;
    padding: 0.5em;
    border-collapse: collapse;

}
tr:nth-child(even) {
    background-color: #0080c0;
}
tr:nth-child(odd) {
    background-color: #c0c0c0;
}
th{
    background-color: black;
    color:white;
    border-color:#ff0080;
}

button{

    padding: 0.5em;
    border-radius: 0.5em;
}

td{
    text-align: center;

}

#error{
    color: orangered;
    margin-left: 120px;
}

#final {
margin-top: 150px;
}
